<%= form_with(model: permiso, local: true) do |form| %>
  <% if permiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
      <% permiso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :crear %>
    <%= form.check_box :crear, id: :permiso_crear %>
  </div>

  <div class="field">
    <%= form.label :actualizar %>
    <%= form.check_box :actualizar, id: :permiso_actualizar %>
  </div>

  <div class="field">
    <%= form.label :eliminar %>
    <%= form.check_box :eliminar, id: :permiso_eliminar %>
  </div>

  <div class="field">
    <%= form.label :consultar %>
    <%= form.check_box :consultar, id: :permiso_consultar %>
  </div>

  <div class="field">
    <%= form.label :rol_id %>
    <%= form.text_field :rol_id, id: :permiso_rol_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
