<p id="notice"><%= notice %></p>

<h1>Permisos</h1>

<table>
  <thead>
    <tr>
      <th>Crear</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
      <th>Consultar</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permisos.each do |permiso| %>
      <tr>
        <td><%= permiso.crear %></td>
        <td><%= permiso.actualizar %></td>
        <td><%= permiso.eliminar %></td>
        <td><%= permiso.consultar %></td>
        <td><%= permiso.rol %></td>
        <td><%= link_to 'Show', permiso %></td>
        <td><%= link_to 'Edit', edit_permiso_path(permiso) %></td>
        <td><%= link_to 'Destroy', permiso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permiso', new_permiso_path %>
