<p id="notice"><%= notice %></p>

<p>
  <strong>Crear:</strong>
  <%= @permiso.crear %>
</p>

<p>
  <strong>Actualizar:</strong>
  <%= @permiso.actualizar %>
</p>

<p>
  <strong>Eliminar:</strong>
  <%= @permiso.eliminar %>
</p>

<p>
  <strong>Consultar:</strong>
  <%= @permiso.consultar %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @permiso.rol %>
</p>

<%= link_to 'Edit', edit_permiso_path(@permiso) %> |
<%= link_to 'Back', permisos_path %>
